* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h2 {
  margin: 0%;
}

h3 {
  margin: 0%;
}

p {
  margin: 0%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-inner {
  display: flex;
  list-style: none;
}

.nav-item a {
  padding: 10px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #83888f;
  letter-spacing: 0.923077px;
}

.nav-item a:hover {
  color: black;
}

.choose-inner {
  padding-top: 150px;
}

.box1 {
  background-color: #333d4b;
  width: 100%;
  height: 500px;
  border-radius: 15px;
  text-align: center;
  padding: 90px 335px;
}
@media (max-width: 998px) {
  .box1 {
    width: 100%;
    height: 600px;
    padding: 70px 210px;
  }
}

.box1 h2 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
  padding-bottom: 30px;
}

.box1 p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
}

.box2 {
  background: #0e8784;
  border-radius: 8px;
  width: 300px;
  height: 340px;
  padding: 20px;
  text-align: center;
}
@media (max-width: 998px) {
  .box2 {
    display: flex;
    width: 693px;
    height: 320px;
    padding: 30px;
  }
}

.choose-item {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: -180px;
}
@media (max-width: 998px) {
  .choose-item {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -12px;
    left: 140px;
    gap: 25px;
    width: 573px;
    height: 180px;
    text-align: start;
  }
}

.box2 h3 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  padding: 25px 0;
  color: #FEFCF7;
}

.box2 p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

.collection {
  padding: 80px;
}

.style-letters {
  font-size: 180px;
  position: absolute;
  z-index: -1;
  text-align: center;
  color: #83888f;
}
@media (max-width: 998px) {
  .style-letters {
    font-size: 140px;
    position: absolute;
    z-index: -1;
    text-align: center;
  }
}

.collection-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 998px) {
  .collection-item {
    display: flex;
    flex-direction: column;
  }
}

.box {
  position: relative;
  bottom: -85px;
  padding: 30px;
}
@media (max-width: 998px) {
  .box {
    display: flex;
    text-align: start;
    padding: 15px;
    max-width: 590px;
  }
}

.box h3 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
  margin-bottom: 24px;
}

.box p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.box img {
  padding-bottom: 60px;
}

.footers {
  margin: 0;
  background-color: #2c343e;
  height: 120px;
  margin-top: 150px;
}

.footer-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.nav-item {
  margin: 15px;
}

.nav__footer a:hover {
  color: white;
}

.box4 a {
  padding: 14px;
}

.hidden-inner {
  margin-top: 60px;
  background-image: url(../img/section-top.png);
  background-repeat: no-repeat;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 598px;
  border-radius: 15px;
}
@media (max-width: 998px) {
  .hidden-inner {
    width: 100%;
    height: 598px;
  }
}

.hidden-inner {
  display: flex;
  align-items: center;
}

.hidden-item {
  max-width: 600px;
  padding: 70px;
}
@media (max-width: 998px) {
  .hidden-item {
    max-width: 510px;
  }
}

.hidden-item h2 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  margin-bottom: 32px;
}
@media (max-width: 998px) {
  .hidden-item h2 {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
  }
}

.hidden-item p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
  margin-bottom: 56px;
}
@media (max-width: 998px) {
  .hidden-item p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
  }
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: transparent;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: black;
}

.btn--primary {
  background-color: #0e8784;
  color: #fefcf7;
}

.preconnect-menu {
  margin-top: 35px;
}
.preconnect-menu h3 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  opacity: 0.4;
  margin-bottom: 55px;
  border-bottom: 1px solid #83888F;
  width: 225px;
  height: 1px;
}

.order {
  background-color: #2C343E;
  width: 475px;
  height: 105px;
}
.order h3 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
}
.order p {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
}

.form-wrapper h2 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
}

.form__field--item {
  display: flex;
}

.form__field {
  padding: 13px;
}

.preferences-item {
  display: flex;
  justify-content: end;
}

.form-label {
  background-color: #F4F1EB;
  border-radius: 8px;
  padding: 32px 28px;
  display: block;
  color: black;
  width: 230px;
  height: 200px;
}
input[type=radio]:checked + .form-label {
  background-color: #0E8784;
  color: white;
}
.form-label h3 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  margin-bottom: 20px;
}
.form-label p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.works-inner h2 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  padding-bottom: 75px;
}

.works-item {
  display: flex;
  justify-content: space-evenly;
}

.box3 {
  padding-top: 62px;
}

.box3 h3 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin: 32px 0;
  padding-right: 200px;
}

.box3 p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  padding-right: 100px;
  margin-bottom: 54px;
}

.number {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}

.circle-line {
  display: flex;
  max-width: 845px;
  justify-content: center;
  align-items: center;
}

.line {
  height: 1px;
  width: 570px;
  background-color: #fdd6ba;
}

.circle {
  background: #333D4B;
  border: 1px solid #0e8784;
  width: 41px;
  height: 31px;
  border-radius: 50%;
  background-color: #fefcf7;
}

.works__pick--color {
  margin-top: 130px;
  background-color: #333D4B;
  border-radius: 10px;
  padding: 30px;
}

.circle--background {
  background-color: #333D4B;
}

.works__niner h3 {
  color: white;
}
.works__niner p {
  color: white;
}

.create-inner {
  background-image: url(./../img/create-a-plane.png);
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  padding: 100px;
  margin-top: 40px;
  border-radius: 10px;
}

.create-item h2 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: white;
  margin-bottom: 30px;
}
.create-item p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FEFCF7;
  line-height: 26px;
  opacity: 0.8;
}

.create-item {
  max-width: 430px;
}/*# sourceMappingURL=main.css.map */