.collection {
    padding: 80px;
  }
  .style-letters {
    font-size: 180px;
    position: absolute;
    z-index: -1;
    text-align: center;
    color: #83888f;

    @media (max-width:$tab) {
      font-size: 140px;
      position: absolute;
      z-index: -1;
      text-align: center  ;
    }
  }
  .collection-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;

    @media (max-width:$tab) {
      display: flex;
      flex-direction: column;
      
    }
  }
  .box {
    position: relative;
    bottom: -85px;
    padding: 30px;

    @media (max-width:$tab) {
      display: flex;
      text-align: start;
      padding: 15px;
      max-width: 590px;
    }
  }
  .box h3 {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333d4b;
    margin-bottom: 24px;
  }
  .box p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  .box img {
    padding-bottom: 60px;
  }
  