.preconnect-menu{
    margin-top: 35px;
    h3{
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
        opacity: 0.4;
        margin-bottom: 55px;
        border-bottom: 1px solid #83888F;
        width: 225px;
        height: 1px;
    }
}
.order {
    background-color: #2C343E;
    h3{
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.5;
    }
}